
.catalog-article ul {
    list-style: disc;
    padding-left: 30px;
    line-height: 27px;
}

.catalog-article li:before {
    /*content: "i";*/
    color: #F4BC16;
    padding-right: 15px;
    margin-left: 30px;
    vertical-align: text-top;
}

.catalog-article p {
    padding: 5px;
}

.catalog-article img {
    padding: 5px;
}